<a href="/shop/pay/card" class="border border-[#72F2706B]/70 shadow-md rounded-xl p-5 hover:scale-105 transition-all cursor-pointer">
  <img src="{{ asset('public/images/'+filename) }}" alt="" width="250">
</a>